@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Rubik:wght@300;400;500&display=swap');
/*Colors: #8ECAE6; #219EBC; #023047; #FFB703; #FB8500*/
body {
    /*font-family: 'PT Serif', serif;*/
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
}
header {
    padding: 20px;
    display: grid;
    align-items: center;
    justify-items: center;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #023047;
    color: #FB8500;
}
header {
    text-align: left;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    justify-items: center;
}
nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    background-color: #023047;
    align-items: center;
}

nav li {
    display: inline;
}

nav li a {
    display: block;
    color: #FB8500;
    padding: 5px;
    text-align: center;
    text-decoration: none;

}
@media screen and (max-width: 1000px) {
    .form {
        margin: 0 auto;
        margin-top: 50px;
        border-radius: 5px;
        color: white;
        background-color: #275434;
        padding: 20px;
        width: 350px;
        font-family: "Rubik Dirt", Arial, sans-serif;;
      }
    header {
        text-align: center;
        min-width: 245px;
        padding: 20px;
        display: block;
        align-items: center;
        justify-items: center;
    }
    #headerimage {
        height: 10em;
    }
    nav ul {
        max-width: 1000px;
        min-width: 245px;
        justify-content: center;
        list-style-type: none;
        display: block;
        padding: 5px;
        background-color: #023047;
        color: #FB8500;
        text-decoration: none;
        align-items: center;
        margin: 0 auto;
    
    }
    
    nav li {
        margin-bottom: 20px; 
        display: block;
    }
    
    nav li a {
        display: block;
        color: #FB8500;
        padding: 5px;
        text-align: center;
        text-decoration: none;
    }
    
    footer{
        min-width: 245px;
    }
}