body {
    background-color: white;
    color: #023047;
    margin: 10px;
    padding: 10px;
}
header{
    display: flex;
    justify-content: center;
}

main {
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    text-align: justify;
    
}

.image {
    display: flex;
    justify-content: center;
    height: 50%;
    max-width: 1500px;
    gap: 25px;
}
#menu{
    display: none;
}
@media screen and (max-width: 1000px) {
    #menu {
        display: block;
    }
}
